<link rel="preload" href="/assets/fonts/fjalla-one-latin-ext-400-normal.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/fjalla-one-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin>
<script async delay src="/assets/js/lib/swiper-bundle.min.js" onload="initSwiper()"></script>
<script>
  function initSwiper() {
    new Swiper(".swiper", {
      loop: true,
      setWrapperSize: true,
      autoplay: { delay: 4000 },
      pagination: { el: ".swiper-pagination", clickable: true },
    });
  }
</script>
