<header>
  <img src="/assets/logo.png" alt="{{ site.name }}" style="display: block; margin: 0 auto 2rem; max-width: 150px;">
  <h1>
    {{ header_text | default: page.header_text }}
  </h1>
  {% if header_image or page.header_image %}
    {% capture image -%}
      {{ header_image | default: page.header_image }}
    {%- endcapture %}
    <div class="desktop-image">
      {% image image, "", config.products.header_image_widths, "banner", "", "3.5/1", "eager" %}
    </div>
    <div class="mobile-image">
      {% image image, "", config.products.header_image_widths, "banner", "", "1/1", "eager" %}
    </div>
  {% endif %}
</header>
