<header>
  <h1>
    {{ header_text | default: page.header_text }}
  </h1>
  {% if header_image or page.header_image %}
    {% assign image_data = header_image | default: page.header_image %}
    {%- comment -%}Extract filename if this is a gallery object{%- endcomment -%}
    {% if image_data.filename %}
      {% assign image = image_data.filename %}
    {% elsif image_data.size %}
      {%- comment -%}This is an array (gallery), skip it{%- endcomment -%}
    {% else %}
      {%- comment -%}Assume it's a string path{%- endcomment -%}
      {% assign image = image_data %}
    {% endif %}
    {% if image %}
    <div class="desktop-image">
      {% image image, "", config.products.header_image_widths, "banner", "", "3.5/1", "eager" %}
    </div>
    <div class="mobile-image">
      {% image image, "", config.products.header_image_widths, "banner", "", "1/1", "eager" %}
    </div>
    {% endif %}
  {% endif %}
</header>
