<section class="products-list">
  {%- for product in products -%}
  <article class="product-box">
    {% if product.data.gallery[0] %}
    <a href="{{ product.url }}#content" class="image-link">
      <img src="{{ product.data.gallery[0] }}" alt="{{ product.data.title }}" loading="lazy" />
    </a>
    {% endif %}
    <h2><a href="{{ product.url }}#content">{{ product.data.title }}</a></h2>
    <a href="{{ product.url }}" class="button-primary">View Details</a>
  </article>
  {%- endfor -%}
</section>
