---
layout: base
---

{% assign products = collections.products | getProductsByCategory: page.fileSlug %}

{% if products.size > 0 %}
  <h1>{{ title }}</h1>
{% endif %}

{% if parent %}
  {% assign parentCategory = collections.categories | where: "fileSlug", parent | first %}
  {% if parentCategory %}
    <a href="{{ parentCategory.url }}/">
      Back to {{ parentCategory.data.title }}
    </a>
  {% endif %}
{% endif %}

{% if products.size > 0 %}
  {% include "products-list.html" %}
{% endif %}

{{ content }}

{% assign categories = collections.categories %}
{% assign categories = categories | where: "data.parent", page.fileSlug %}
{% if categories.size > 0 %}
  <h2>Subcategories</h2>
  {% include "categories-list.html" %}
{% endif %}

