---
layout: base
---

{% assign products = collections.products | getProductsByCategory: page.fileSlug %}

{% if products.size > 0 %}
  <h1>{{ title }}</h1>
{% endif %}

{% if parent %}
  {% assign parentCategory = collections.categories | where: "fileSlug", parent | first %}
  {% if parentCategory %}
    <a href="{{ parentCategory.url }}/">
      Back to {{ parentCategory.data.title }}
    </a>
  {% endif %}
{% endif %}

{% if products.size > 0 %}
  {% include "products-list.html" %}
{% endif %}

{{ content }}

{% assign category_path = "categories/" | append: page.fileSlug | append: ".md" %}
{% assign category_reviews = collections.review | where_exp: "review", "review.data.categories contains category_path" %}
{% if category_reviews.size > 0 %}
  <section>
    <h2 class="centered">Customer Reviews</h2>
    {% assign sorted_reviews = category_reviews | reverse %}
    {% assign reviews = sorted_reviews | slice: 0, 9 %}
    {% include "reviews-list.html", reviews: reviews %}
    {% if category_reviews.size > 9 %}
      <a href="/reviews/#content" class="read-more">Read More Reviews</a>
    {% endif %}
  </section>
{% endif %}

{% assign categories = collections.categories %}
{% assign categories = categories | where: "data.parent", page.fileSlug %}
{% if categories.size > 0 %}
  <h2>Subcategories</h2>
  {% include "categories-list.html" %}
{% endif %}

